/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* -- Estilos generales -- */
body {
  font-family: sans-serif;
  padding: 1rem;
  color: #222;
  background-color: #dbd8d8;
  min-height: 100vh;
}
/* -- Maquetacion contenido -- */
.grid-container {
  display: grid;
  gap: 1rem;
  grid-template:
    "header"
    "main"
    "footer";
  header {
    grid-area: header;
  }
  main {
    grid-area: main;
  }
  footer {
    grid-area: footer;
  }
}
/* -- Estilos header -- */
header{
  text-align: center;
  background-color: #222;
  color: #ffffff;
  padding: 2rem 1rem;
  border-radius: 10px;
}

.foto-perfil {
  width: 200px;
  height: auto;
  border-radius: 50%;
  border: #e0dddd solid 3px;
  margin-bottom: 1rem;
}

.eslogan {
  font-style: italic;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 10px;
  padding: 1rem 0;
}

nav a {
  color: #00ffcc;
  text-decoration: none;
  font-weight: bold;
}
/* -- Estilos seccion principal -- */
main section {
  text-align: center;
  line-height: 1.4;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 8px;
}

/* Carrusel horizontal para móviles */
.slider{
  display: flex;
  overflow-x: hidden;
  border-radius: 8px;
  background-color: #dbd8d8;
}

.card{
  flex: 1 0 100%;
}

.slider-nav{
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  column-gap: 16px;
}

.slider-button{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #7f7f7f;
  opacity: 0.5;
  transition: all 250ms ease-in-out;
}

.slider-button:hover{
  opacity: 1;
}

.foto-proyectos{
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

/*@media (min-width: 768px) {}*/
/*@media (min-width: 992px) {}*/
/*@media (min-width: 1200px) {}*/
